<html>
    <head>
        <link rel="stylesheet" href="/stylesheet/main.css" />
    </head>
    <body>
        <span style="display: flex; gap: 2rem">
            <a href="/"><h1>Inventory</h1></a>
            <a href="/item/new"><h1>New Item</h1></a>
        </span>

        <%- body %>
    </body>
</html>
