<html>
    <head>
        <link rel="stylesheet" href="/stylesheet/main.css" />
    </head>
    <body>
        <div class="main-container">
            <div class="navbar">
                <a href="/"><h1>Inventory</h1></a>
                <a href="/item/new"><h1>New Item</h1></a>
            </div>
            <%- body %>
        </div>
    </body>
</html>
