.container {
    display: grid;
    justify-content: center;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, 300px);
}
.item-container {
    margin-top: 1rem;
}
.item-container > div {
    font-size: 1.2rem;
}

.form-row input {
    font-family: "Gotham Rounded";
    height: 2rem;
    padding: 0.4rem 0.25rem;
}

.item-container:first-child {
    margin-top: 1rem;
}

.form-row {
    margin-top: 1rem;
    display: flex;
}
.form-item {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    flex-grow: 1;
    flex-basis: 0;
}
